<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:href="http://www.w3.org/1999/xhtml">
<head th:include="fragments/head :: styles">
    <!--<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>-->
</head>
<body>
<div class="container">
    <header th:include="fragments/header :: navbar"></header>

    <h1><span class="fas fa-user"></span> Actors</h1>

    <form class="form-inline" method="Post" th:action="@{/actors}">
        <input type="text" class="form-control mr-sm-2"  th:name="firstName" placeholder="Search Name"/>

        <button class="btn btn-primary" type="submit" value="Search"><span class="fas fa-search"></span> Search</button>
    </form>
    <br>

    <table class="table table-striped table-bordered table-hover">
        <thead class="thead-dark">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Settings</th>


        </tr>
        </thead>
        <tbody>
        <tr class="active" th:each="actor : ${actors}">
                        <span>
                            <td th:text="${actor.firstName}" />
                            <td th:text="${actor.lastName}" />
                            <td>

                                <a th:href="${'/editActor/'+ actor.actorId}" class="btn btn-light btn-sm">
                                    <span class="fas fa-pen"></span> Edit
                                </a>
                                <a th:href="${'/deleteActor/'+ actor.actorId}" class="btn btn-danger btn-sm">
                                    <span class="fas fa-trash-alt"></span> Delete
                                </a>

                            </td>
                        </span>
        </tr>
        </tbody>
    </table>

    <a href="/createActor">
        <button class="btn btn-success"><span class="fas fa-plus"></span> Create new actor</button>
    </a>

</div>
<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
</body>
</html>