<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <div th:replace="fragments/head :: styles"></div>
        <title>Title</title>
    </head>
    <body>
        <div class="container">
            <div th:replace="fragments/header :: navbar"></div>

            <h2>Write the Actor name and last name</h2>
            <br>

            <form method="Post" th:action="@{/createActor}">

                <input type="text" class="form-control mr-sm-2"  th:name="firstName" placeholder="First name"/>
                <br>

                <input type="text" class="form-control mr-sm-2"  th:name="lastName" placeholder="Last name"/>
                <br>

                <input class="btn btn-light" type="button" value="Cancel" onclick="location.href='/actors';"/>

                <button class="btn btn-primary" type="submit" value="Create Actor">Create</button>

            </form>

        </div>
    </body>
</html>