<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="fragments/head :: styles">
</head>
<body>
    <div class="container">
        <header th:include="fragments/header :: navbar"></header>

        <h1>Create movie</h1>

        <form method="Post" th:action="@{/createmovie}" th:object="${movie}">

            <label>Duration:</label>
            <input type="number" class="form-control mr-sm-2"  th:name="movieDuration" placeholder="120"/>

            <label>Year:</label>
            <input type="number" class="form-control mr-sm-2"  th:name="movieYear" placeholder="1960"/>

            <label>Title:</label>
            <input type="text" class="form-control mr-sm-2"  th:name="movieTitle" placeholder="James bond"/>

            <label>Genre:</label>
            <input type="text" class="form-control mr-sm-2"  th:name="movieGenre" placeholder="action"/>

            <label>Poster link:</label>
            <input type="text" class="form-control mr-sm-2"  th:name="moviePosterLink" placeholder="link.dk"/>

            <label>Trailer link:</label>
            <input type="text" class="form-control mr-sm-2"  th:name="movieTrailerLink" placeholder="link.dk"/>
            <br>

            <input class="btn btn-light" type="button" value="Cancel" onclick="location.href='/';"/>

            <button class="btn btn-primary" type="submit" value="Create Movie">Create</button>

        </form>
    </div>
</body>
</html>