<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="fragments/head :: styles">
</head>
<body>
    <div class="container">
        <header th:include="fragments/header :: navbar"></header>

        <h1>Display Movie</h1>

        <input type="hidden" th:field="${movie.movieId}">

            <p th:text="${'Title: ' + movie.movieTitle}"></p>
            <p th:text="${'Duration: ' + movie.movieDuration}"></p>
            <p th:text="${'Release year: ' + movie.movieYear}"></p>
            <p th:text="${'Genre: ' + movie.movieGenre}"></p>

        <img th:src="${movie.moviePosterLink}" width="200" height = "350"/>


        <iframe width="420" height="315"
                th:src="${movie.movieTrailerLink}">
        </iframe>



        <table class="table table-borderless table-hover">
            <thead class="">
            <tr>
                <th>Actor name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="relatedActor : ${relatedActors}">
                <span>
                    <td th:text="${relatedActor.firstName + ' ' + relatedActor.lastName}" />
                </span>
            </tr>
            </tbody>
        </table>






    </div>
</body>

</html>