<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="fragments/head :: styles">
    <!--<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>-->
</head>
<body>
<div class="container">
    <header th:include="fragments/header :: navbar"></header>

    <h1 th:text="${'Edit Actor'}"></h1>

    <form th:method="put" th:action="@{/editActor}" th:object="${actor}">

        <input type="hidden" th:field="${actor.ActorId}">

        <label>First Name:</label>
        <input type="text" class="form-control mr-sm-2"  th:field="${actor.FirstName}">

        <label>Last Name:</label>
        <input type="number" class="form-control mr-sm-2"  th:field="${actor.LastName}"/>

        <input class="btn btn-light" type="button" value="Cancel" onclick="location.href='/';"/>

        <button class="btn btn-primary" type="submit">Save</button>

    </form>

</div>
</body>
</html>