<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="fragments/head :: styles">
    <!--<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>-->
</head>
<body>
    <div class="container">
        <header th:include="fragments/header :: navbar"></header>

        <h1 th:text="${'Edit movie (' + movieTitle + ')'}"></h1>

        <form th:method="put" th:action="@{/editmovie}" th:object="${movie}">

            <input type="hidden" th:field="${movie.movieId}">

            <label>Title:</label>
            <input type="text" class="form-control mr-sm-2"  th:field="${movie.movieTitle}">

            <label>Duration:</label>
            <input type="number" class="form-control mr-sm-2"  th:field="${movie.movieDuration}"/>

            <label>Year:</label>
            <input type="number" class="form-control mr-sm-2"  th:field="${movie.movieYear}"/>

            <label>Genre:</label>
            <input type="text" class="form-control mr-sm-2"  th:field="${movie.movieGenre}"/>

            <label>Poster link:</label>
            <input type="text" class="form-control mr-sm-2"  th:field="${movie.moviePosterLink}"/>

            <label>Trailer link:</label>
            <input type="text" class="form-control mr-sm-2"  th:field="${movie.movieTrailerLink}"/>
            <br>

            <input class="btn btn-light" type="button" value="Cancel" onclick="location.href='/';"/>

            <button class="btn btn-primary" type="submit">Save</button>

        </form>

        <br>

        <h2>Movie actors</h2>

        <div class="actorRelations">

        <h3>Related actors</h3>

            <table class="table table-borderless table-hover">
                <thead class="">
                    <tr>
                        <th>Actor name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <span>
                            <td>Hans Petersen</td>
                            <td>
                                <a href="#" class="text-danger">
                                    <i class="fas fa-minus-circle"></i> Remove from movie
                                </a>

                            </td>
                        </span>
                    </tr>
                    <tr>
                        <span>
                            <td>Peter Poulsen</td>
                            <td>
                                <a href="#" class="text-danger">
                                    <i class="fas fa-minus-circle"></i> Remove from movie
                                </a>

                            </td>
                        </span>
                    </tr>
                    <tr>
                        <span>
                            <td>Rikke Svendsen</td>
                            <td>
                                <a href="#" class="text-danger">
                                    <i class="fas fa-minus-circle"></i> Remove from movie
                                </a>

                            </td>
                        </span>
                    </tr>
                </tbody>
            </table>

            <h3>Unrelated actors</h3>

            <table class="table table-borderless table-hover">
                <thead class="">
                <tr>
                    <th>Actor name</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <span>
                        <td>Allan Simonsen</td>
                        <td>
                            <a href="#" class="text-success">
                                <i class="fas fa-plus-circle"></i> Add to movie
                            </a>

                        </td>
                    </span>
                </tr>
                <tr>
                    <span>
                        <td>Güstav porresen</td>
                        <td>
                            <a href="#" class="text-success">
                                <i class="fas fa-plus-circle"></i> Add to movie
                            </a>

                        </td>
                    </span>
                </tr>
                <tr>
                    <span>
                        <td>Mads Mikkelsen</td>
                        <td>
                            <a href="#" class="text-success">
                                <i class="fas fa-plus-circle"></i> Add to movie
                            </a>

                        </td>
                    </span>
                </tr>
                </tbody>
            </table>

        </div>

        <!--<a href="#" class="btn btn-success">
            <span class="fas fa-plus"></span> add actor to movie
        </a>-->

    </div>
</body>
</html>