<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="fragments/head :: styles">
    <!--<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>-->
</head>
<body>
    <div class="container">
        <header th:include="fragments/header :: navbar"></header>

        <h1 th:text="${'Edit movie (' + movieTitle + ')'}"></h1>

        <form th:method="put" th:action="@{/editmovie}" th:object="${movie}">

            <input type="hidden" th:field="${movie.movieId}">

            <label>Title:</label>
            <input type="text" class="form-control mr-sm-2"  th:field="${movie.movieTitle}">

            <label>Duration:</label>
            <input type="number" class="form-control mr-sm-2"  th:field="${movie.movieDuration}"/>

            <label>Year:</label>
            <input type="number" class="form-control mr-sm-2"  th:field="${movie.movieYear}"/>

            <label>Genre:</label>
            <input type="text" class="form-control mr-sm-2"  th:field="${movie.movieGenre}"/>

            <label>Poster link:</label>
            <input type="text" class="form-control mr-sm-2"  th:field="${movie.moviePosterLink}"/>

            <label>Trailer link:</label>
            <input type="text" class="form-control mr-sm-2"  th:field="${movie.movieTrailerLink}"/>
            <br>

            <input class="btn btn-light" type="button" value="Cancel" onclick="location.href='/';"/>

            <button class="btn btn-primary" type="submit">Save</button>

        </form>

        <br>

        <h2>Movie actors</h2>

        <div class="actorRelations">

        <h4>Related actors</h4>

            <table class="table table-borderless table-hover">
                <thead class="">
                    <tr>
                        <th>Actor name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="relatedActor : ${relatedActors}">
                        <span>
                            <td th:text="${relatedActor.firstName + ' ' + relatedActor.lastName}" />
                            <td>
                                <!--<a href="#" class="text-danger">
                                    <i class="fas fa-minus-circle"></i> Remove from movie
                                </a>-->
                                <form method="Post" th:action="@{/removerelation}">
                                    <input type="hidden" th:name="movieId" th:value="${movie.movieId}"/>

                                    <input type="hidden" th:name="actorId" th:value="${relatedActor.actorId}"/>

                                    <button class="btn btn-link btn-sm text-danger" type="submit"><i class="fas fa-minus-circle"></i> Remove from movie</button>
                                </form>
                            </td>
                        </span>
                    </tr>
                </tbody>
            </table>

            <h4>Unrelated actors</h4>

            <table class="table table-borderless table-hover">
                <thead class="">
                <tr>
                    <th>Actor name</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="unrelatedActor : ${unrelatedActors}">
                    <span>
                        <td th:text="${unrelatedActor.firstName + ' ' + unrelatedActor.lastName}" />
                        <td>
                            <!--<a href="#" class="text-success">
                                <i class="fas fa-plus-circle"></i> Add to movie
                            </a>-->
                            <form method="Post" th:action="@{/addrelation}">
                                <input type="hidden" th:name="movieId" th:value="${movie.movieId}"/>

                                <input type="hidden" th:name="actorId" th:value="${unrelatedActor.actorId}"/>

                                <button class="btn btn-link btn-sm text-success" type="submit"><i class="fas fa-plus-circle"></i> Add to movie</button>
                            </form>
                        </td>
                    </span>
                </tr>
                </tbody>
            </table>

        </div>

        <!--<a href="#" class="btn btn-success">
            <span class="fas fa-plus"></span> add actor to movie
        </a>-->

    </div>
</body>
</html>